################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApiClients/.vs/ApiClients/v16
/ApiClients/Nasjonalt.Skoleregister/obj
/ApiClients/Nasjonalt.Skoleregister/bin/Debug/netcoreapp3.1
